@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --body-bg: #f8f8f8;
  --grays-medium-gray-555: #555;
}

body {
  background: var(--body-bg), #f8f8f8;
}